@font-face {
    font-family: "iconfont"; /* Project id 2406250 */
    src: url('iconfont.woff2?t=1621007082364') format('woff2'),
    url('iconfont.woff?t=1621007082364') format('woff'),
    url('iconfont.ttf?t=1621007082364') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 24px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icontelegram:before {
    content: "\e749";
    color: #4c8fe1;
}

.icontongzhi:before {
    content: "\e64a";
    color: #eaff6f;
}